/**************************** START GENERAL STYLES ****************************/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Roboto;
}
div, header, section, article, aside, iframe, ul, li, nav {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* Colors */
.color-bg-transparent {
    background-color: transparent;
}
.color--black {
    color: #333;
}
.color-bg-black {
    background-color: #333;
}
.color-bg-black--overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
.color--white {
    color: #fff;
}
.color-bg-white {
    background-color: #fff;
}
.color-bg-white--overlay {
    background-color: rgba(255, 255, 255, 0.8);
}
.color--blue {
    color: #239ea0;
}
.color-bg-blue {
    background-color: #239ea0;
}
.color-bg-blue--overlay {
    background-color: rgba(35, 158, 160, 0.8);
}

/* Grid */
.layout {
	display: block;
	width: 100%;
	letter-spacing: -.325rem;
	margin: 0;
	padding: 0;
	position: relative;
}
.layout--center {
	text-align: center;
}
.layout-wrapper {
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}
.layout-item {
	display: inline-block;
	width: 100%;
	vertical-align:top;
	letter-spacing: normal;
}
.layout--flex {
	display: flex;
}
.layout--flex__row {
	flex-flow: row;
}
.layout--flex__column {
	flex-flow: column;
}
.layout--flex__space {
	justify-content: space-between;
}
.layout--flex__center {
	justify-content: center;
	align-items: center;
}
.col-1\/2 {
	width:50%!important
}
.col-1\/3 {
	width:33.3333333333%!important
}
.col-2\/3 {
	width:66.6666666667%!important
}
.col-1\/4 {
	width:25%!important
}
.col-3\/4 {
	width:75%!important
}
.col-1\/5 {
	width:20%!important
}
.col-2\/5 {
	width:40%!important
}
.col-3\/5 {
	width:60%!important
}
.col-4\/5 {
	width:80%!important
}
.col-1\/6 {
	width:16.6666666667%!important
}
.col-5\/6 {
	width:83.3333333333%!important
}
@media screen and (max-width: 970px) {
	.col-1\/1-palm {
		width:100%!important
	}
	.col-1\/2-palm {
		width:50%!important
	}
	.col-1\/3-palm {
		width:33.3333333333%!important
	}
	.col-2\/3-palm {
		width:66.6666666667%!important
	}
	.col-1\/4-palm {
		width:25%!important
	}
	.col-3\/4-palm {
		width:75%!important
	}
	.col-1\/5-palm {
		width:20%!important
	}
	.col-2\/5-palm {
		width:40%!important
	}
	.col-3\/5-palm {
		width:60%!important
	}
	.col-4\/5-palm {
		width:80%!important
	}
	.col-1\/6-palm {
		width:16.6666666667%!important
	}
	.col-5\/6-palm {
		width:83.3333333333%!important
	}
}

/* Text */
.text--left {
    text-align: left;
}
.text--center {
    text-align: center;
}
.text--right {
    text-align: right;
}

/* Margins and paddings */
.margin--0 {
    margin: 0 !important;
}
.margin-v-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.margin-h-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-left-0 {
    margin-left: 0 !important;
}
.margin-right-0 {
    margin-right: 0 !important;
}
.margin-- {
    margin: 6px !important;
}
.margin-v-- {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}
.margin-h-- {
    margin-left: 6px !important;
    margin-right: 6px !important;
}
.margin-top-- {
    margin-top: 6px !important;
}
.margin-bottom-- {
    margin-bottom: 6px !important;
}
.margin-left-- {
    margin-left: 6px !important;
}
.margin-right-- {
    margin-right: 6px !important;
}
.margin- {
    margin: 12px !important;
}
.margin-v- {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
.margin-h- {
    margin-left: 12px !important;
    margin-right: 12px !important;
}
.margin-top- {
    margin-top: 12px !important;
}
.margin-bottom- {
    margin-bottom: 12px !important;
}
.margin-left- {
    margin-left: 12px !important;
}
.margin-right- {
    margin-right: 12px !important;
}
.margin {
    margin: 24px !important;
}
.margin-v {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}
.margin-h {
    margin-left: 24px !important;
    margin-right: 24px !important;
}
.margin-top {
    margin-top: 24px !important;
}
.margin-bottom {
    margin-bottom: 24px !important;
}
.margin-left {
    margin-left: 24px !important;
}
.margin-right {
    margin-right: 24px !important;
}
.margin\+ {
    margin: 48px !important;
}
.margin-v\+ {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}
.margin-h\+ {
    margin-left: 48px !important;
    margin-right: 48px !important;
}
.margin-top\+ {
    margin-top: 48px !important;
}
.margin-bottom\+ {
    margin-bottom: 48px !important;
}
.margin-left\+ {
    margin-left: 48px !important;
}
.margin-right\+ {
    margin-right: 48px !important;
}
.margin\+\+ {
    margin: 96px !important;
}
.margin-v\+\+ {
    margin-top: 96px !important;
    margin-bottom: 96px !important;
}
.margin-h\+\+ {
    margin-left: 96px !important;
    margin-right: 96px !important;
}
.margin-top\+\+ {
    margin-top: 96px !important;
}
.margin-bottom\+\+ {
    margin-bottom: 96px !important;
}
.margin-left\+\+ {
    margin-left: 96px !important;
}
.margin-right\+\+ {
    margin-right: 96px !important;
}

.padding--0 {
    padding: 0 !important;
}
.padding-v-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.padding-h-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.padding-top-0 {
    padding-top: 0 !important;
}
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.padding-left-0 {
    padding-left: 0 !important;
}
.padding-right-0 {
    padding-right: 0 !important;
}
.padding-- {
    padding: 6px !important;
}
.padding-v-- {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.padding-h-- {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.padding-top-- {
    padding-top: 6px !important;
}
.padding-bottom-- {
    padding-bottom: 6px !important;
}
.padding-left-- {
    padding-left: 6px !important;
}
.padding-right-- {
    padding-right: 6px !important;
}
.padding- {
    padding: 12px !important;
}
.padding-v- {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.padding-h- {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.padding-top- {
    padding-top: 12px !important;
}
.padding-bottom- {
    padding-bottom: 12px !important;
}
.padding-left- {
    padding-left: 12px !important;
}
.padding-right- {
    padding-right: 12px !important;
}
.padding {
    padding: 24px !important;
}
.padding-v {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
.padding-h {
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.padding-top {
    padding-top: 24px !important;
}
.padding-bottom {
    padding-bottom: 24px !important;
}
.padding-left {
    padding-left: 24px !important;
}
.padding-right {
    padding-right: 24px !important;
}
.padding\+ {
    padding: 48px !important;
}
.padding-v\+ {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.padding-h\+ {
    padding-left: 48px !important;
    padding-right: 48px !important;
}
.padding-top\+ {
    padding-top: 48px !important;
}
.padding-bottom\+ {
    padding-bottom: 48px !important;
}
.padding-left\+ {
    padding-left: 48px !important;
}
.padding-right\+ {
    padding-right: 48px !important;
}
.padding\+\+ {
    padding: 96px !important;
}
.padding-v\+\+ {
    padding-top: 96px !important;
    padding-bottom: 96px !important;
}
.padding-h\+\+ {
    padding-left: 96px !important;
    padding-right: 96px !important;
}
.padding-top\+\+ {
    padding-top: 96px !important;
}
.padding-bottom\+\+ {
    padding-bottom: 96px !important;
}
.padding-left\+\+ {
    padding-left: 96px !important;
}
.padding-right\+\+ {
    padding-right: 96px !important;
}
@media screen and (max-width: 960px) {
    .margin--0-resp {
        margin: 0 !important;
    }
    .margin-v-0-resp {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .margin-h-0-resp {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .margin-top-0-resp {
        margin-top: 0 !important;
    }
    .margin-bottom-0-resp {
        margin-bottom: 0 !important;
    }
    .margin-left-0-resp {
        margin-left: 0 !important;
    }
    .margin-right-0-resp {
        margin-right: 0 !important;
    }
    .margin---resp {
        margin: 6px !important;
    }
    .margin-v---resp {
        margin-top: 6px !important;
        margin-bottom: 6px !important;
    }
    .margin-h---resp {
        margin-left: 6px !important;
        margin-right: 6px !important;
    }
    .margin-top---resp {
        margin-top: 6px !important;
    }
    .margin-bottom---resp {
        margin-bottom: 6px !important;
    }
    .margin-left---resp {
        margin-left: 6px !important;
    }
    .margin-right---resp {
        margin-right: 6px !important;
    }
    .margin--resp {
        margin: 12px !important;
    }
    .margin-v--resp {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }
    .margin-h--resp {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }
    .margin-top--resp {
        margin-top: 12px !important;
    }
    .margin-bottom--resp {
        margin-bottom: 12px !important;
    }
    .margin-left--resp {
        margin-left: 12px !important;
    }
    .margin-right--resp {
        margin-right: 12px !important;
    }
    .margin-resp {
        margin: 24px !important;
    }
    .margin-v-resp {
        margin-top: 24px !important;
        margin-bottom: 24px !important;
    }
    .margin-h-resp {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .margin-top-resp {
        margin-top: 24px !important;
    }
    .margin-bottom-resp {
        margin-bottom: 24px !important;
    }
    .margin-left-resp {
        margin-left: 24px !important;
    }
    .margin-right-resp {
        margin-right: 24px !important;
    }
    .margin\+-resp {
        margin: 48px !important;
    }
    .margin-v\+-resp {
        margin-top: 48px !important;
        margin-bottom: 48px !important;
    }
    .margin-h\+-resp {
        margin-left: 48px !important;
        margin-right: 48px !important;
    }
    .margin-top\+-resp {
        margin-top: 48px !important;
    }
    .margin-bottom\+-resp {
        margin-bottom: 48px !important;
    }
    .margin-left\+-resp-resp {
        margin-left: 48px !important;
    }
    .margin-right\+-resp {
        margin-right: 48px !important;
    }
    .margin\+\+-resp {
        margin: 96px !important;
    }
    .margin-v\+\+-resp {
        margin-top: 96px !important;
        margin-bottom: 96px !important;
    }
    .margin-h\+\+-resp {
        margin-left: 96px !important;
        margin-right: 96px !important;
    }
    .margin-top\+\+-resp {
        margin-top: 96px !important;
    }
    .margin-bottom\+\+-resp {
        margin-bottom: 96px !important;
    }
    .margin-left\+\+-resp {
        margin-left: 96px !important;
    }
    .margin-right\+\+-resp {
        margin-right: 96px !important;
    }
    
    .padding--0-resp {
        padding: 0 !important;
    }
    .padding-v-0-resp {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .padding-h-0-resp {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .padding-top-0-resp {
        padding-top: 0 !important;
    }
    .padding-bottom-0-resp {
        padding-bottom: 0 !important;
    }
    .padding-left-0-resp {
        padding-left: 0 !important;
    }
    .padding-right-0-resp {
        padding-right: 0 !important;
    }
    .padding---resp {
        padding: 6px !important;
    }
    .padding-v---resp {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
    .padding-h---resp {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
    .padding-top---resp {
        padding-top: 6px !important;
    }
    .padding-bottom---resp {
        padding-bottom: 6px !important;
    }
    .padding-left---resp {
        padding-left: 6px !important;
    }
    .padding-right---resp {
        padding-right: 6px !important;
    }
    .padding--resp {
        padding: 12px !important;
    }
    .padding-v--resp {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    .padding-h--resp {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .padding-top--resp {
        padding-top: 12px !important;
    }
    .padding-bottom--resp {
        padding-bottom: 12px !important;
    }
    .padding-left--resp {
        padding-left: 12px !important;
    }
    .padding-right--resp {
        padding-right: 12px !important;
    }
    .padding-resp {
        padding: 24px !important;
    }
    .padding-v-resp {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
    .padding-h-resp {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .padding-top-resp {
        padding-top: 24px !important;
    }
    .padding-bottom-resp {
        padding-bottom: 24px !important;
    }
    .padding-left-resp {
        padding-left: 24px !important;
    }
    .padding-right-resp {
        padding-right: 24px !important;
    }
    .padding\+-resp {
        padding: 48px !important;
    }
    .padding-v\+-resp {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }
    .padding-h\+-resp {
        padding-left: 48px !important;
        padding-right: 48px !important;
    }
    .padding-top\+-resp {
        padding-top: 48px !important;
    }
    .padding-bottom\+-resp {
        padding-bottom: 48px !important;
    }
    .padding-left\+-resp {
        padding-left: 48px !important;
    }
    .padding-right\+-resp {
        padding-right: 48px !important;
    }
    .padding\+\+-resp {
        padding: 96px !important;
    }
    .padding-v\+\+-resp {
        padding-top: 96px !important;
        padding-bottom: 96px !important;
    }
    .padding-h\+\+-resp {
        padding-left: 96px !important;
        padding-right: 96px !important;
    }
    .padding-top\+\+-resp {
        padding-top: 96px !important;
    }
    .padding-bottom\+\+-resp {
        padding-bottom: 96px !important;
    }
    .padding-left\+\+-resp {
        padding-left: 96px !important;
    }
    .padding-right\+\+-resp {
        padding-right: 96px !important;
    }
}

/* Hidden elements */
.hidden {
    visibility: hidden;
}
.disappeared {
    display: none;
}
@media screen and (min-width: 960px) {
    .hide--lrg {
        display: none;
    }
}
@media screen and (max-width: 960px) {
    .hide--sm {
        display: none;
    }
}

/* List */
.list,
.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

/* Slider */
.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider-container .next,
.slider-container .prev {
    border: 0;
    background: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 24px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 24px;
    z-index: 10;
}
.slider-container .next {
    right: 12px;
    background-image: url(/img/icon-next.svg);
}
.slider-container .prev {
    left: 12px;
    background-image: url(/img/icon-back.svg);
}
.slider-container .slider-list {
    color: #333;
    display: block;
    width: 100%;
    transform: translateX(0);
    transition: transform 0.3s;
}
.slider-container .slider-list .slide {
    padding: 12px;
    float: left;
}
.slider-container .slider-controls {
    text-align: center;
}
.slider-container .slider-controls .bullet-control {
    background-color: #727272;
    display: inline-block;
    padding: 2px 10px;
    margin-right: 5px;
    height: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.slider-container .slider-controls .bullet-control:last-child {
    margin-right: 0;
}
.slider-container .slider-controls .bullet-control.on {
    background-color: #fff;
}


/* Video Cards */
.video-card {
    display: inline-block;
    text-align: left;
    max-width: 300px;
    cursor: pointer;
}
.video-card .video img {
    width: 100%;
}
.video-card .video-info {
    background-color: #f4f4f4;
    padding: 12px;
}
.video-card .video-info p:first-child {
    margin-top: 0;
}

/**************************** END GENERAL ESTYLES ****************************/
/* INIT Login */
.login-box {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: calc((100% - 200px) / 2);
}
.login-box .icon-avatar {
    max-width: 50px;
}
.login-box .login-button,
.login-box .signin-button {
    display: block;
    cursor: pointer;
    padding: 12px;
    min-width: 200px;
    border-radius: 2px;
    border: 1px solid #239ea0;
    transition: all 0.3s;
}
.login-box .login-button:hover,
.login-box .signin-button:hover {
    color: #fff;
    background-color: #239ea0;
}
.login-box .icon-google {
    max-width: 15px;
    margin-left: 5px;
    vertical-align: middle;
}
/* END Login */
/* INIT Header */
#header-desktop {
    background-color: #222;
    z-index: 1;
    position: relative;
}
#header-desktop img {
    width: 28px;
    cursor: pointer;
    transition: width 0.3s;
}
#header-desktop #query {
    padding: 0;
    border-radius: 2px;
    border: 0;
    vertical-align: top;
    margin-right: 5px;
}
#header-desktop[mode-search="off"] #query {
    width: 0;
}
#header-desktop[mode-search="on"] #query {
    width: calc(100% - 33px);
    padding: 6px;
    transition: width 0.3s;
}
/* END Header */
/* INIT Dashboard */
#dashboard-header {
    box-shadow: 0 0 5px 0 #000;
}
#dashboard-header .tab-list .tab {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: all 0.3s;
}
#dashboard-header .tab-list .tab:hover {
    background-color: #4a4a4a;
    color: #239ea0;
}
#dashboard-header .tab-list .tab::after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: #239ea0;
    transition: left 0.3s, right 0.3s;
}
#dashboard-header .tab-list .tab:hover::after {
    left: 0;
    right: 0;
}
#dashboard-header .tab-list .tab.active {
    color: #239ea0;
}
#dashboard-header .tab-list .tab.active::after {
    left: 0;
    right: 0;
}
#dashboard-header .tab-list .tab span {
    display: inline-block;
    padding: 12px;
}
/* END dashboard */
/* INIT Search */
#search-container {
    position: absolute;
    width: 0;
    height: 0;
    top: 20px;
    right: 20px;
    background-color: #333;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 2;
}
#search-container.on {
    top: 56px;
    right: 0;
    width: 100%;
    height: calc(100% - 56px);
    overflow-y: auto;
}
#search-container iframe {
    margin: 0 auto;
    display: block;
}
#search-container .player {
    position: relative;
}
#search-container .close-search {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/* END Search */