/**************************** START GENERAL STYLES ****************************/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    box-sizing: border-box;
}

/* Colors */
.color-bg-transparent {
    background-color: transparent;
}
.color--black {
    color: #333;
}
.color-bg-black {
    background-color: #333;
}
.color--white {
    color: #fff;
}
.color-bg-white {
    background-color: #fff;
}
.color--orange {
    color: #ff8c00;
}
.color-bg-orange {
    background-color: #ff8c00;
}

/* Text styles */
.text--left {
    text-align: left;
}
.text--center {
    text-align: center;
}
.text--right {
    text-align: right;
}

/* Margins and paddings */
.margin--0 {
    margin: 0 !important;
}
.margin-- {
    margin: 6px !important;
}
.margin- {
    margin: 12px !important;
}
.margin-v- {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
.margin-h- {
    margin-left: 12px !important;
    margin-right: 12px !important;
}
.margin-top- {
    margin-top: 12px !important;
}
.margin-bottom- {
    margin-bottom: 12px !important;
}
.margin-left- {
    margin-left: 12px !important;
}
.margin-right- {
    margin-right: 12px !important;
}
.margin {
    margin: 24px !important;
}
.margin\+ {
    margin: 48px !important;
}
.margin\+\+ {
    margin: 96px !important;
}

.padding--0 {
    padding: 0 !important;
}
.padding-- {
    padding: 6px !important;
}
.padding- {
    padding: 12px !important;
}
.padding {
    padding: 24px !important;
}
.padding\+ {
    padding: 48px !important;
}
.padding\+\+ {
    padding: 96px !important;
}

/* Hidden elements */
.hidden {
    visibility: hidden;
}
.disappeared {
    display: none;
}
@media screen and (min-width: 960px) {
    .hide--lrg {
        display: none;
    }
}
@media screen and (max-width: 960px) {
    .hide--sm {
        display: none;
    }
}

/**************************** END GENERAL ESTYLES ****************************/
/* Estilos Login */
.login-box {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: calc((100% - 200px) / 2);
}
.login-box .icon-avatar {
    max-width: 50px;
}
.login-box .login-button,
.login-box .signin-button {
    display: block;
    cursor: pointer;
    padding: 12px;
    min-width: 200px;
    border-radius: 2px;
    border: 1px solid #ff8c00;
    transition: all 0.3s;
}
.login-box .login-button:hover,
.login-box .signin-button:hover {
    color: #333;
    background-color: #ff8c00;
}
.login-box .icon-google {
    max-width: 15px;
    margin-left: 5px;
    vertical-align: middle;
}
/* FIN estilos Login */