header#header-desktop(mode-search="off")
    nav.layout.padding-
        ul.layout-wrapper.margin-v-0.padding--0
            li(class="layout-item col-1/2")
                img.icon-menu(data-js="_menu", src="/img/icon-menu.svg")
            li(class="layout-item col-1/2 text--right")
                input#query(type="text", placeholder="Buscador")
                img.button-search(src="/img/icon-search.svg", alt="Buscar", title="Buscar")
section.disappeared.menu-background.color-bg-black--overlay
ul.nav.list