html
    head
        title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/styles.css")
    body
        h1 Adelante, busca el video que quieras.
        input(id="query", type="text", placeholder="Buscador")
        button(id="search", type="button")
            img(src="/img/icon-search.svg", width="15")
        script(src="/js/script.js")